
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<% if (user) { %>
    <div class="container">
      <hr/>
  <div id="navUsuarios">
  <ul class="nav">

    <li class="nav-item active">
      <a class="nav-link" href="/main/usuarios">
        <img src="/img/eye.png">
        Ver Usuarios<span class="sr-only">(current)</span></a>
    </li>
    <% if (user.usuario=='admin') { %>
      <li >
        <a class="nav-link">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/nuevoUsuario"><img src="/img/aprobar.png">Aprobar usuario</a>
      </li>
    <li >
      <a class="nav-link">|</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/main/nuevoUsuario"><img src="/img/add.png">Nuevo Usuario</a>
    </li>

<%}%>

    </ul>  <%}%>
</div></div>
