  <% if (user) { %>
    <div class="container">


    <div id="navGeneral">
    <ul class="nav">

      <li class="nav-item active">
        <a class="nav-link" href="/main/cursosMain">
          <img src="/img/courses.png">
          Gestión Cursos<span class="sr-only">(current)</span></a>
      </li>
      <li>
      <a class="nav-link">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/usuariosMain"><img src="/img/users.png">Gestión Usuarios</a>
      </li><li >
        <a class="nav-link">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/logout"><img src="/img/exit.png">Salir</a>
      </li>

        <li>
          <a class="nav-link">|</a>
        </li>
        <li>
          <a class="nav-link" href="#">
            <img src="/img/user.png">&nbsp;<%= user.usuario %></a>
        </li>



      </ul>  <%}%>
</div></div>
