<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/menu.css" />

<div class="container">
<br/>
<div id="navGeneral">
    <ul class="nav" >
      <% if (!user) { %>


      <li class="nav-item">
        <a class="nav-link" href="/courses/cursos">
          <img src="/img/courses.png">Ver cursos</a>
      </li>

      <li>
      <a class="nav-link">|</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/login">
            <img src="/img/login.png">
            Ingresar</a>
        </li>
        <a class="nav-link">|</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/main/login">
              <img src="/img/login.png">
              Registrarse</a>
          </li>
        <li>
        <a class="nav-link">|</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/main/about">
              <img src="/img/about.png">
              Acerca de</a>
          </li>
        <%}%>
      </ul>
</div></div>
