
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<div id="menuMain">
    <ul class="nav" >
      <li class="nav-item active">
        <a class="nav-link" href="/main">Home<span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a  href="#">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/nuevook">Ver usuarios</a>
      </li>

      <li>
        <a  href="#">|</a>
      </li>

        <% if (user) { %>
      <li class="nav-item">
        <a class="nav-link" href="/main/logout">Salir</a>
      </li>
      <% }else{%>
        <li class="nav-item">
          <a class="nav-link" href="/main/login">Ingresar</a>
        </li>
        <%}%>
      </ul>
</div>
