
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="/main">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/main/nuevook">Listado de usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/nuevo">Nuevo usuario</a>
      </li>

        <% if (user) { %>

        <li class="nav-item">
         <a class="nav-link" href="/main/login"><b>Usuario</b><i>:<%= user.usuario %></i></a>

         </li><%}%>
      <li class="nav-item">
        <a class="nav-link" href="/main/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/logout">Salir</a>
      </li>
      </ul>
