
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
  <% if (user) { %>
    <div id="navUsuarios">
    <ul class="nav">

      <li class="nav-item active">
        <a class="nav-link" href="/main/nuevo">Nuevo Curso<span class="sr-only">(current)</span></a>
      </li>
      <li >
        <a class="nav-link" href="#">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/nuevook">Mis cursos</a>
      </li>
      <li >
        <a class="nav-link" href="#">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/nuevo">Lista de Usuarios</a>
      </li><li >
        <a class="nav-link" href="#">|</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/main/nuevo">Mis usuario</a>
        </li>



      </ul>  <%}%>
</div>
