<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/main">Regresar</a><hr/>
    <form action="/main/loginpost" method="POST">
      <input type="text"  name="usuario" autofocus placeholder="Usuario">
      <input type="text"  name="clave" value="" placeholder="Clave">
      <input type="submit" name="boton" value="Validar">
    </form>
  </body>
</html>
