<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div><%- include ('partials/navigation.ejs') %></div>
<div><%- include ('partials/navigationUsuarios.ejs') %></div>
<div><%- include ('partials/navigationGestionCursos.ejs') %></div>
    <div class="card"><div class="jumbotron mt-0" style="background-color: white;">

       <% if (user) { %>
          <i> <%= rta %></i>
      <form action="/main/nuevo" method="POST">
        <input type="text"  name="usuario" autofocus placeholder="Usuario">
        <input type="password"  name="clave" value="" placeholder="Clave">
        <input type="submit" name="boton" value="Nuevo usuario">
      </form>

    <%}else{%>
      Usuario no autorizado
      <%}%>
</div></div>
  </body>
</html>
