<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/css/menu.css" />
  </head>
  <body>

    <div><%- include ('partials/navigationUsuarios.ejs') %></div>
    <div><%- include ('partials/navigationGestionUsuarios.ejs') %></div>
    <div class="container">
        <div><br/></div>
    <div class="card">
      <div class="jumbotron" style="background-color: white">

      <% if (user) { %>
        <h4 class="card-title">Gestión de usuarios</h4>
      <% } %>
      </div></div>
<div id="pie"><%- include ('partials/footer.ejs') %></div></div>
  </body>
</html>
