div.jumbotron{
  font-size: 15px;
 font-family: "Courier New", Courier, monospace;

}

hr.linea{
  border-top: 1px solid black;
}

span#descripcion{
  color:darkblue;
}
span#unidadNombre{
  	color:darkorange;
}

span#unidadNombre{
  color:darkorange;
  text-transform: uppercase;
}
