div.jumbotron{
   padding: 10px 20px;
   background-color: white;
   font-family: "Courier New", Courier, monospace;
}


div#pie{

  width:99%;
  height: 45px;
  padding-top: 2px;
  padding-bottom: 1px;
  text-align: center;
  font-size: 1.0rem;
  letter-spacing: -1px;
  border: 0px solid #ccc;
  border-radius: 4px;
  color:black;
  display: inline-block;
}

input.form-control, textarea.form-control,textarea.form-control:focus,input.form-control:focus {
  color:black;
}
