div#navUsuarios, div#navCursos{
  //border-radius: 6px;
  background-color:#24aa6c;
  -webkit-border-radius: 5px 5px 0px 0px;
  color:black;
  font-family: "Courier New", Courier, monospace;
}

div#navUsuarios ul.nav li.nav-item:hover,
div#navCursoInicio ul.nav li.nav-item:hover,
div#navCursos ul.nav li.nav-item:hover{
  -moz-border-radius:1em;
   -webkit-border-radius: 5px 5px 5px 5px;
   background: #228054;

}



div#navbarNav{
  font-family: "Courier New", Courier, monospace;
}

div#navCursos ul.nav li.nav-item a.nav-link,
div#navUsuarios ul.nav li.nav-item a.nav-link{
  color:white;
}

img#fotoPerfil{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
li.nav-item.dropdown a.nav-link.dropdown-toggle#navbarDropdown:hover{
  background: white;
}
